@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_LayoutAdmin";
	ViewData["Title"] = "ManageDestinations";
}
<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Toursit</strong> Site</h1>

		<div class="row">
			<div class="col-18 col-lg-16 col-xxl-12 d-flex">
				<div class="card flex-fill">
					
					<table class="table table-hover my-0">
						<thead>
							<tr>
								<th>Site name</th>
								<th class="d-none d-xl-table-cell">City</th>
								<th class="d-none d-xl-table-cell">Region</th>
								<th>Location Link</th>
								<th class="d-none d-md-table-cell">Catogry</th>
								<th>Entry Fees</th>
								<th>Openning Hours</th>
								<th>Action</th>



							</tr>
						</thead>
						<tbody>
				<tr> 
								<td>The Roman Theater</td>
								<td class="d-none d-xl-table-cell">Amman</td>
								<td class="d-none d-xl-table-cell">Amman</td>
								<td><a a class="badge bg-success">Open maps</a></td>
								<td class="d-none d-md-table-cell">Historical </td>
								<td>1 Jd</td>
								<td>8AM to 8PM</td>
						<td>
							<a class="btn btn-outline-info" style="float:left; margin-left:12px;">Show Details</a>
						<a class="btn btn-outline-success" style="float:left; margin-left:12px;">View Details</a>
									<a class="btn btn-outline-warning" style="margin-left:12px;">Edit</a>
							<a class="btn btn-outline-danger" style="margin-left:12px;">Disable</a>
						</td>
							
						</tr>

							
						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
</main>