@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_LayoutAdmin";
}
<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Evaluation</strong> Page </h1>

		<div class="row">
			<div class="col-18 col-lg-16 col-xxl-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header">

						<h5 class="card-title mb-0"></h5>
					</div>
					<table class="table table-hover my-0">
						<thead>
							<tr>
								<th>User Name</th>
								<th class="d-none d-xl-table-cell">Time of Submission</th>
								<th class="d-none d-xl-table-cell">comment</th>
								<th>Rate</th>
								<th class="d-none d-md-table-cell">SiteName</th>
								<th>Action</th>

							</tr>
							
						</thead>
						<tbody>
							
							<tr>
								<th>leen omar</th>
								<th class="d-none d-xl-table-cell">21/9/2025</th>
								<th class="d-none d-xl-table-cell">AddComment</th>
								<th>5 stars</th>
								<th class="d-none d-md-table-cell">petra</th>
								<th>logical or negative</th>

							</tr>
					
							
							


						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
</main>