@{
    ViewData["Title"] = "Profile";
    Layout = "_LayoutAdmin";
}

<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100 justify-content-center align-items-center">
            <div class="col-md-6 col-xl-5">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Profile Details</h5>
                    </div>
                    <div class="card-body text-center">
                        <img src="https://img.freepik.com/premium-vector/man-professional-business-casual-young-avatar-icon-illustration_1277826-623.jpg?semt=ais_hybrid&w=740" alt="Christina Mason" class="img-fluid rounded-circle mb-2" width="128" height="128" />
                        <h5 class="card-title mb-0">Christina Mason</h5>
                        <div class="text-muted mb-2">Lead Developer</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-5">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Update Password</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">New Password</label>
                                <input class="form-control form-control-lg" type="password" name="newPassword" placeholder="Enter your new password" required />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm Password</label>
                                <input class="form-control form-control-lg" type="password" name="confirmPassword" placeholder="Confirm your password" required />
                            </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-lg btn-primary">Update Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>