
@{
    ViewData["Title"] = "Profile";
	Layout = "_LayoutAdmin";
}
<main class="d-flex w-100">
	<div class="container d-flex flex-column">
		<div class="row vh-100">
			<div class="col-md-6 col-xl-6">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0">Profile Details</h5>
					</div>
					<div class="card-body text-center">
						<img src="img/avatars/avatar-4.jpg" alt="Christina Mason" class="img-fluid rounded-circle mb-2" width="128" height="128" />
						<h5 class="card-title mb-0">Christina Mason</h5>
						<div class="text-muted mb-2">Lead Developer</div>


					</div>
					<hr class="my-0" />

					<hr class="my-0" />
					<div class="card-body">
						<h5 class="h6 card-title">About</h5>
						<ul class="list-unstyled mb-0">
							<li class="mb-1"><span data-feather="home" class="feather-sm me-1"></span> Lives in <a href="#">San Francisco, SA</a></li>

							<li class="mb-1"><span data-feather="briefcase" class="feather-sm me-1"></span> Works at <a href="#">GitHub</a></li>
							<li class="mb-1"><span data-feather="map-pin" class="feather-sm me-1"></span> From <a href="#">Boston</a></li>
						</ul>
					</div>
					<hr class="my-0" />

				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-6 mx-auto d-table h-100">
				<div class="d-table-cell align-middle">



					<div class="text-center mt-4">
						<h1 class="h2">Welcome back, Charles</h1>
						<p class="lead">
							Sign in to your account to continue
						</p>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="m-sm-4">
								<div class="text-center">
									<img src="img/avatars/avatar.jpg" alt="Charles Hall" class="img-fluid rounded-circle" width="132" height="132" />
								</div>
								<form>
									<div class="mb-3">
										<label class="form-label">Email</label>
										<input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email" />
									</div>
									<div class="mb-3">
										<label class="form-label">Password</label>
										<input class="form-control form-control-lg" type="password" name="password" placeholder="Enter your password" />
										<small>
											<a href="index.html">Forgot password?</a>
										</small>
									</div>
									<div>
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="remember-me" name="remember-me" checked>
											<span class="form-check-label">
												Remember me next time
											</span>
										</label>
									</div>
									<div class="text-center mt-3">
										<a href="index.html" class="btn btn-lg btn-primary">Sign in</a>
										<!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>
