@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jordana - Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/loginDesign/css/style.css" />
</head>
<body>
    <div class="container clearfix">
        <div class="form registration">
            <a class="logo" href="">
                <img src="~/loginDesign/img/login.png" alt="Logo" />
            </a>
            <form asp-action="Signup"method="post">
                <p>
                    <label>Full Name <span>*</span></label>
                    <input type="text" name="fullname" required>
                </p>
                <p>
                    <label>Phone Number<span>*</span></label>
                    <input type="text" name="phonenumber"required>
                </p>
                <p>
                    <label>Email<span>*</span></label>
                    <input type="email"name="email" required>
                </p>
                <p>
                    <label>Password<span>*</span></label>
                    <input type="password" name="password" required>
                </p>
                <p>
                    <label>Enter password again<span>*</span></label>
                    <input type="password"name="repassword" required>
                </p>
                <p>
                    <label>
                        <a asp-action= "Login">Have an account?</a>
                    </label>
                    <input type="submit" value="Sign Up" />
                </p>
            </form>
        </div>
    </div>
    <footer>
        &copy; Jordana , All rights reserved.
    </footer>
</body>
</html>
